#navContainer{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	height: 10%;
	width: 100%;
	background-color: #00FF00;
}

#left{
	font-size: 2em;
	float: left;
}

#right{
	float: right;
}

#logout{
	font-size: 2em;
}
