html,body{
	width:100%;
	height:100%;
	overflow: hidden;
}

body{
	background-color: #DCDCDC;
}

#container{
	height:60%;
	width:30%;
	background-color: #ffffff;
	margin:auto;
}

#topRow{
	width:100%;
	height: 10%;
	font-size: 20px;
	text-align: center;
}

#bottomRow{
	padding: 20px;
}

#loginBtn, #signupBtn{
	height: 100%;
	width:50%;
	float: left;
}

#signupBtn{
	background-color: #ffffff;
}

#loginBtn{
	background-color: #C0C0C0;
}

#loginForm, #signupForm{
	width: 90%;
}

input{
	font-size: 20px;
	margin-bottom: 10px;
}


#loginForm{
	display: none;
}

#signupForm{
	display: block;
}
