html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
table{
	position: relative;
	top: 10%;
	width:90%;
	height: 50%;
	font-size: 2em;
}

table tr{
}

#addProjectForm{
	position: absolute;
	top: 30%;
	left: 40%;
	display: none;
	z-index: 2;
	margin: auto;
	background-color: white;
}
